<ion-header>
  <ion-toolbar>
    <ion-title>notes</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home/tabs/notes/new-notes">
        <ion-icon name="add-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor="let notes of loadedNotes" #slidingItem detail>

            <ion-item detail>
              <ion-label>
                <p class="note-title">{{ notes.title }}</p>
                <div class="note-div">
                  <ion-icon name="link" color="primary" class="icon"></ion-icon>
                  <p class="note-text">{{ notes.moduleName }}</p>
                </div>

                <div class="note-div">
                  <ion-icon name="calendar" color="primary" class="icon"></ion-icon>
                  <p class="note-text"> {{ notes.time}}</p>
                </div>

                <div class="note-div">
                  <ion-icon name="text-outline" color="primary" class="icon"></ion-icon>
                  <p class="note-text"> {{ notes.body | slice:0:25}}...</p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon name="trash" slot="top" class="icon"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
