<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>Student Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card id="faq">
    <ul>
      <li>
        <input type="checkbox" checked>
        <div>
          <ion-icon name="chevron-down-outline" color="primary" class="icon"></ion-icon>
        </div>
        <ion-card-header class="header">
          <ion-card-title class="title">General Information </ion-card-title>
        </ion-card-header>
        <ion-card-content class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum unde, recusandae qui
          perferendis dolores nam
          natus vitae blanditiis. Facilis aspernatur ullam voluptatem quia adipisci possimus deleniti cum repudiandae
          excepturi corrupti.</ion-card-content>
      </li>

      <li>
        <input type="checkbox" checked>
        <div>
          <ion-icon name="chevron-down-outline" color="primary" class="icon"></ion-icon>
        </div>
        <ion-card-header class="header">
          <ion-card-title class="title">Module</ion-card-title>
        </ion-card-header>
        <ion-card-content class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum unde, recusandae qui
          perferendis dolores nam
          natus vitae blanditiis. Facilis aspernatur ullam voluptatem quia adipisci possimus deleniti cum repudiandae
          excepturi corrupti.</ion-card-content>

      </li>

      <li>
        <input type="checkbox" checked>
        <div>
          <ion-icon name="chevron-down-outline" color="primary" class="icon"></ion-icon>
        </div>
        <ion-card-header class="header">
          <ion-card-title class="title">Finance </ion-card-title>
        </ion-card-header>
        <ion-card-content class="content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum unde, recusandae qui
          perferendis dolores nam
          natus vitae blanditiis. Facilis aspernatur ullam voluptatem quia adipisci possimus deleniti cum repudiandae
          excepturi corrupti.</ion-card-content>

      </li>
    </ul>
  </ion-card>


</ion-content>
