.nopadding {
  padding: 0px !important;
}
.content {
  display: flex;
  align-items: center;
}
.space-left {
  display: inline-block;
  padding-left: 6px;
}
.pbs {
  padding-bottom: 3px;
}
.pb {
  padding-bottom: 8px;
}
.pt {
  padding-top: 2px;
}

