<ion-header>
  <ion-toolbar>
    <ion-title>notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectSegment" class="segment">
    <ion-segment-button value="current">
      <ion-label>Current</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="nopadding">
    <ion-row class="nopadding">
      <ion-col class="nopadding">
        <ion-list class="nopadding" *ngFor="let currentNotification of loadedCurrentNotification">
          <ion-card *ngIf=" selectSegment === 'current'">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{ currentNotification.moduleCode }}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{currentNotification.title}}</ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-label>

                    <div class="content" class="pbs">
                      <ion-icon name="link" color="primary" class="pt"></ion-icon>
                      <p class="space-left">{{currentNotification.lecturerName}}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                      <p class="space-left">{{currentNotification.date }}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="bar-chart-outline" class="pt"></ion-icon>
                      <p class="space-left">{{currentNotification.description}}</p>
                    </div>
                  </ion-label>


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>

        <ion-list class="nopadding" *ngFor="let pastNotification of loadedPastNotification">
          <ion-card *ngIf=" selectSegment === 'past' ">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{ pastNotification.moduleCode }}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{pastNotification.title}}</ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-label>

                    <div class="content" class="pbs">
                      <ion-icon name="link" color="primary" class="pt"></ion-icon>
                      <p class="space-left">{{pastNotification.lecturerName}}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                      <p class="space-left">{{pastNotification.date}}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="bar-chart-outline" class="pt"></ion-icon>
                      <p class="space-left">{{pastNotification.description}}</p>
                    </div>
                  </ion-label>


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
