<ion-header>
  <ion-toolbar>


    <ion-title class="ion-text-center">Tasks</ion-title>


    <ion-buttons slot="end">
      <ion-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'new']">
        <ion-icon name="add-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs class="pt">
    <ion-tab-bar slot="top">

      <ion-tab-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'in-progress']" [class.active-item]="selectedPath.includes('in-progress')">
         <ion-label>In Progress</ion-label>
        <ion-icon name="albums"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'flagged']" [class.active-item]="selectedPath.includes('flagged')">
        <ion-label>Flags</ion-label>
        <ion-icon name="flag"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'completed']" [class.active-item]="selectedPath.includes('completed')">
        <ion-label>Completed</ion-label>
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'overdue']" [class.active-item]="selectedPath.includes('overdue')">
        <ion-label>Overdue</ion-label>
        <ion-icon name="archive"></ion-icon>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>
