<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/main-menu"></ion-back-button>
    </ion-buttons>

    <ion-title>booking</ion-title>

    <ion-buttons slot="end">
      <ion-button routerLink="/home/tabs/main-menu/booking">
        <ion-icon name="add-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectSegment" class="segment">
    <ion-segment-button value="current">
      <ion-label>Current</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-searchbar></ion-searchbar>

  <ion-grid class="nopadding">
    <ion-row class="nopadding">
      <ion-col class="nopadding">
        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBooking" #slidingItem detail>
            <ion-item *ngIf=" selectSegment === 'current' &&  booking.status === 'current'"
              [routerLink]="['/', 'home', 'tabs', 'main-menu' ]" detail>
              <ion-label>
                <p class="title">{{ booking.topic }}</p>

                <div class="div">
                  <ion-icon name="text-outline" color="primary" class="icon"></ion-icon>
                  <p class="txt"> {{ booking.type}}</p>
                </div>

                <div class="div">
                  <ion-icon name="link" color="primary" class="pin"></ion-icon>
                  <p class="txt">{{ booking.location }}</p>
                </div>

                <div class="div">
                  <ion-icon name="calendar" color="primary" class="icon"></ion-icon>
                  <p class="txt"> {{ booking.dueDate}}</p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon name="trash" slot="top" class="icon"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>

        <ion-list>
          <ion-item-sliding *ngFor="let booking of loadedBooking" #slidingItem detail>
            <ion-item *ngIf=" selectSegment === 'past' &&  booking.status === 'past'"
              [routerLink]="['/', 'home', 'tabs', 'main-menu' ]" detail>
              <ion-label>
                <p class="title">{{ booking.topic }}</p>

                <div class="div">
                  <ion-icon name="text-outline" color="primary" class="icon"></ion-icon>
                  <p class="txt"> {{ booking.type}}</p>
                </div>

                <div class="div">
                  <ion-icon name="link" color="primary" class="pin"></ion-icon>
                  <p class="txt">{{ booking.location }}</p>
                </div>

                <div class="div">
                  <ion-icon name="calendar" color="primary" class="icon"></ion-icon>
                  <p class="txt"> {{ booking.dueDate}}</p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-icon name="trash" slot="top" class="icon"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
