<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/tabs/main-menu"></ion-back-button>
    </ion-buttons>
    <ion-title>booking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment [(ngModel)]="selectSegment" class="segment">
    <ion-segment-button value="current">
      <ion-label>Current</ion-label>
    </ion-segment-button>
    <ion-segment-button value="past">
      <ion-label>Past</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid class="nopadding">
    <ion-row class="nopadding">
      <ion-col class="nopadding">
        <ion-list class="nopadding" *ngFor="let booking of loadedBooking">
          <ion-card *ngIf=" selectSegment === 'current' &&  booking.status === 'current'">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{ booking.topic }}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{booking.type}}</ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-label>

                    <div class="content" class="pbs">
                      <ion-icon name="pin-outline" color="primary" class="pt"></ion-icon>
                      <p class="space-left">{{booking.location}}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                      <p class="space-left">{{booking.dueDate}}</p>
                    </div>

                  </ion-label>


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>

        <ion-list class="nopadding" *ngFor="let booking of loadedBooking">
          <ion-card *ngIf=" selectSegment === 'past' &&  booking.status === 'past'">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{ booking.topic }}</ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text>{{booking.type}}</ion-text>
                    </ion-col>
                  </ion-row>

                  <ion-label>

                    <div class="content" class="pbs">
                      <ion-icon name="pin-outline" color="primary" class="pt"></ion-icon>
                      <p class="space-left">{{booking.location}}</p>
                    </div>
                    <div class="content" class="pbs">
                      <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                      <p class="space-left">{{booking.dueDate}}</p>
                    </div>

                  </ion-label>


                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
