<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>

        <!-- Reset  -->
        <ion-buttons>
          <ion-button slot="icon-only">
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </ion-buttons>

        <!-- Current Date -->
        <ion-col>
          <ion-title class="nopadding textcenter"> 15/12/2021 </ion-title>
        </ion-col>

        <!-- New Timetable -->
        <ion-buttons class="nopadding textcenter">
          <ion-button slot="icon-only">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons>


      </ion-row>

      <ion-row>
        <ion-col class="nopadding">
          <p class="nopadding textcenter">(Week - 2)</p>


        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="">


        <ion-icon class="textcenter" name="chevron-down-outline"></ion-icon>
        </ion-col>
      </ion-row>



    </ion-grid>
  </ion-toolbar>

  <!--To view the days of the week-->
  <ion-toolbar class="ion-toolbar2">
    <ion-grid>
      <ion-row class="nopadding" class="marginrow">
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Mon</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Tue</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Wed</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Thur</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Fri</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-bottom">
        <ion-icon name="arrow-back" class="ion-padding-top">
        </ion-icon>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="a" class="bround">
            1
          </ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround">
            2
          </ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround">
            3
          </ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround">
            4
          </ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround">
            5
          </ion-button>
        </ion-col>

        <ion-icon class="ion-padding-top" name="arrow-forward">
        </ion-icon>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="nopadding">
    <!--This is the row containing the activity details-->
    <ion-row class="nopadding">
      <ion-col class="nopadding">
        <ion-list class="nopadding">
          <ion-card *ngFor="let activity of loadedActivity">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col class="nopadding textcenter" size="3">
                  <ion-row>

                    <ion-col size="12" class="ion-padding-top">
                      <p>{{activity.startTime }}</p>
                    </ion-col>

                    <ion-col size="12" class="ion-padding-bottom">
                      <p>{{activity.endTime }}</p>
                    </ion-col>

                  </ion-row>
                </ion-col>

                <ion-col>
                  <p>{{ activity.moduleName }}</p>
                  <p>{{activity.type}}</p>

                  <ion-row>
                    <ion-col class="nopadding">
                      <ion-button size="small" shape="round" class="iround"
                        [routerLink]="">
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <label class="label">-{{activity.location}}</label>
                    </ion-col>

                    <ion-col class="nopadding">
                      <ion-button size="small" shape="round" class="iround">
                        <ion-icon name="person"></ion-icon>
                      </ion-button>
                      <label class="label">-{{activity.lecturerName}}</label>
                    </ion-col>
                  </ion-row>

                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>



  </ion-grid>
</ion-content>
