<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>

        <!-- Reset  -->
        <!-- <ion-buttons>
          <ion-button slot="icon-only">
            <ion-icon name="refresh-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->

        <!-- Current Date -->
        <ion-col>
          <ion-title class="nopadding textcenter"> {{ currentDay | momentPipe:'ddd DD MMM YYYY'}} </ion-title>
        </ion-col>

        <!-- New Timetable -->
        <!-- <ion-buttons class="nopadding textcenter">
          <ion-button slot="icon-only">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
        </ion-buttons> -->
      </ion-row>

      <ion-row>
        <ion-col class="nopadding">
          <p *ngIf="loadedWeek !== undefined" class="nopadding textcenter">(Week - {{ loadedWeek.number }})</p>
        </ion-col>
      </ion-row>



    </ion-grid>
  </ion-toolbar>

  <!--To view the days of the week-->
  <ion-toolbar class="ion-toolbar2" *ngIf="loadedWeek !== undefined">
    <ion-grid>
      <ion-row class="nopadding" class="marginrow">
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Mon</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Tue</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Wed</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Thur</p>
        </ion-col>
        <ion-col class="nopadding">
          <p class="marginbottom textcenter">Fri</p>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding-bottom" *ngIf="loadedWeek !== undefined">
        <ion-icon *ngIf="loadedWeek.number > 1" name="arrow-back" class="ion-padding-top"
          (click)="previousWeek(loadedWeek.number)">
        </ion-icon>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="a" class="bround" (click)="chosenDay(loadedWeek.dates[0])">
            {{ loadedWeek.dates[0] | momentPipe:'DD'  }}
          </ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround" (click)="chosenDay(loadedWeek.dates[1])">
            {{ loadedWeek.dates[1] | momentPipe:'DD' }}</ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter">
          <ion-button shape="round" class="bround" (click)="chosenDay(loadedWeek.dates[2])">
            {{ loadedWeek.dates[2] | momentPipe:' DD'  }}</ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter" (click)="chosenDay(loadedWeek.dates[3])">
          <ion-button shape="round" class="bround">
            {{ loadedWeek.dates[3] | momentPipe:'DD' }}</ion-button>
        </ion-col>

        <ion-col class="nopadding textcenter" (click)="chosenDay(loadedWeek.dates[4])">
          <ion-button shape="round" class="bround">
            {{ loadedWeek.dates[4] | momentPipe:'DD' }}</ion-button>
        </ion-col>

        <ion-icon *ngIf="57 > loadedWeek.number" class="ion-padding-top" name="arrow-forward"
          (click)="nextWeek(loadedWeek.number)">
        </ion-icon>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="nopadding">
    <!--This is the row containing the activity details-->
    <ion-row class="nopadding">
      <ion-col class="nopadding">
        <ion-list class="nopadding">
          <ion-card *ngFor="let activity of loadedActivity; let i = index">
            <ion-grid class="nopadding">
              <ion-row class="nopadding">
                <ion-col class="nopadding textcenter" size="3">
                  <ion-row>

                    <ion-col size="12" class="ion-padding-top">
                      <p>{{activity.startDateTime | momentPipe:'hh:mm a'}}</p>
                    </ion-col>

                    <ion-col size="12" class="ion-padding-bottom">
                      <p>{{activity.endDateTime | momentPipe:'hh:mm a' }}</p>
                    </ion-col>

                  </ion-row>
                </ion-col>

                <ion-col>
                  <p > {{ loadedModules[i].name }}</p>
                  <p>{{activity.type}}</p>

                  <ion-row>
                    <ion-col class="nopadding">
                      <ion-button size="small" shape="round" class="iround"
                        [routerLink]="['/', 'home', 'tabs', 'main-menu', 'maps','location', activity.location]">
                        <ion-icon name="pin"></ion-icon>
                      </ion-button>
                      <label class="label">-{{activity.location}}</label>
                    </ion-col>

                    <ion-col class="nopadding">
                      <ion-button size="small" shape="round" class="iround">
                        <ion-icon name="person"></ion-icon>
                      </ion-button>
                      <label class="label">-{{activity.lecturerName}}</label>
                    </ion-col>
                  </ion-row>



                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>



                  <!--This is the row viewed when there is no activity-->
                  <ion-row *ngIf="noActivity === true">
                    <ion-col size-sm="12" offset-sm="3" class="nomargin">
                      <h1 class="textcenter"> No Lectures Today</h1>
                      <p class="textcenter">Would you like to do some Tasks?</p>

                      <ion-row>
                        <ion-col class="nopadding textcenter">
                          <ion-label>In Progress</ion-label>
                          <br>
                          <ion-button [routerLink]="['/', 'home', 'tabs', 'tasks', 'in-progress']">
                            <ion-icon name="albums"></ion-icon>
                          </ion-button>
                        </ion-col>

                        <ion-col class="nopadding textcenter " [routerLink]="['/', 'home', 'tabs', 'tasks', 'flags']">
                          <ion-label>Flags</ion-label>
                          <br>
                          <ion-button>
                            <ion-icon name="flag"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>

  </ion-grid>
</ion-content>
