
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="main-menu">
        <ion-label>Main Menu</ion-label>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="timetable">
        <ion-label>Timetable</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notification">
        <ion-label>Notification</ion-label>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="notes">
        <ion-label>Notes</ion-label>
        <ion-icon name="journal"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tasks/in-progress">
        <ion-label>Tasks</ion-label>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

