<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">

      <ion-tab-button >
        <ion-label>Main Menu</ion-label>
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button >
        <ion-label>Timetable</ion-label>
        <ion-icon name="calendar"></ion-icon>
      </ion-tab-button>

      <ion-tab-button >
        <ion-label>Notification</ion-label>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button >
        <ion-label>Notes</ion-label>
        <ion-icon name="journal"></ion-icon>
      </ion-tab-button>

      <ion-tab-button  >
        <ion-label>Tasks</ion-label>
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>
</ion-content>
