.task-details {
  display: flex;
  align-items: center;
}
.space-left {
  display: inline-block;
  padding-left: 6px;
  font-size: 16px;
}
.pbs {
  padding-bottom: 3px;
}
.pb {
  padding-bottom: 8px;
}
.pt {
  padding-top: 2px;
}

.nopadding {
  padding: 0px !important;
}

.textcenter {
  text-align: center !important;
}
.marginbottom {
  margin-bottom: 2px !important;
}

.title {
  font-size: 20px;
  color: black;
}

.nomargin {
  margin: 0px !important;
}

.pb.title {
  font-size: 20px;
  color: black;
  padding-bottom: 8px;
}
