<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar showCancelButton="focus"></ion-searchbar>
        <ion-list>
          <ion-item-sliding *ngFor="let inProgressTask of loadedInProgressTasks; let i = index" #slidingItem>
            <ion-item [routerLink]="['/', 'home', 'tabs', 'tasks', 'edit', inProgressTask.id]" detail>
              <ion-label>
                <ion-text>{{ inProgressTask.title }}</ion-text>

                <div class="task-details" class="pb">
                  <ion-icon name="link" color="primary" class="pt"></ion-icon>
                  <p class="space-left">{{ loadedModules[i].name }}</p>
                </div>
                <div class="task-details" class="pbs">
                  <ion-icon color="primary" name="calendar" class="pt"></ion-icon>
                  <p class="space-left"> {{ inProgressTask.dueDateTime }}</p>
                </div>
              </ion-label>
            </ion-item>
            <ion-item-options>
              <ion-item-option color="success" (click)="completeTask(inProgressTask, slidingItem)">
                <ion-icon name="checkmark-circle-outline" slot="top" class="icon"></ion-icon>
                Complete
              </ion-item-option>
              <ion-item-option color="warning" (click)="flagTask(inProgressTask, slidingItem)" *ngIf="inProgressTask.flagged === false">
                <ion-icon name="flag" slot="top" class="icon"></ion-icon>
                Flag
              </ion-item-option>
              <ion-item-option color="warning" (click)="unflagTask(inProgressTask, slidingItem)" *ngIf="inProgressTask.flagged === true">
                <ion-icon name="flag" slot="top" class="icon"></ion-icon>
                Flag
              </ion-item-option>
              <ion-item-option color="danger" (click)="deleteTask(inProgressTask.id, slidingItem)">
                <ion-icon name="trash" slot="top" class="icon"></ion-icon>
                Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="noTasks === true">
      <ion-col size-sm="12" offset-sm="3" class="nomargin">
        <h1 class="textcenter">There are no Tasks</h1>
        <p class="textcenter">Would you like to create a Task?</p>
        <ion-row>
          <ion-col class="nopadding textcenter" [routerLink]="['/', 'home', 'tabs', 'tasks', 'new-tasks']">
            <ion-label>Create Tasks</ion-label>
            <br>
            <ion-button>
              <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
